# python cache
.ipynb_checkpoints/
*.pyc
__pycache__/
yoochoose-clicks.dat
yoochoose-buys.dat
# testing performance 
keras/
# competition already have it, this repository just backup for SAP
competition/
foundation/
CAAS/resource/amazon_data/
others/
CAAS/larent_li/
